.button {
  padding: 1rem 1.5rem;
  color: white;
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.primary-button {
  background-color: var(--color-red);
}

.primary-button:hover {
  background-color: var(--color-dark-red);
}
